<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Видео Макана</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    
    <nav class="navbar">
        <a href="index.html" class="nav-link">Главная</a>
        <a href="gallery.html" class="nav-link">Галерея</a>
        <a href="tracks.html" class="nav-link">Треки</a>
        <a href="video.html" class="nav-link">Видео</a>
        <a href="citate.html" class="nav-link">Цитаты</a>
    </nav>

    <h1>Видео Макана</h1>

    <div class="videos-container">
        <div class="video-item">
            <h3 class="video-title">Название видео 1</h3>
            <video controls class="video-player">
                <source src="videos/v12044gd0000d2ebakfog65v00qe9m60.mp4" type="video/mp4">
                Ваш браузер не поддерживает видео элемент.
            </video>
        </div>

        <div class="video-item">
            <h3 class="video-title">Название видео 2</h3>
            <video controls class="video-player">
                <source src="videos/v14044g50000d0u8g3fog65pj00smgeg.mp4" type="video/mp4">
                Ваш браузер не поддерживает видео элемент.
            </video>
        </div>

        <div class="video-item">
            <h3 class="video-title">Название видео 3</h3>
            <video controls class="video-player">
                <source src="videos/v24044gl0000d0gdhlfog65qcrk6sqo0.mp4" type="video/mp4">
                Ваш браузер не поддерживает видео элемент.
            </video>
        </div>

        <div class="video-item">
            <h3 class="video-title">Название видео 4</h3>
            <video controls class="video-player">
                <source src="videos/v14044g50000cnat92vog65ge4ll8e30.mp4" type="video/mp4">
                Ваш браузер не поддерживает видео элемент.
            </video>
        </div>
    </div>

</body>
</html>
